body {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    
  }
  
  #header {
    background: #ffffff;
    border: #cccccc;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    
  }

  .myName {

    padding-right: 30px;
    padding-left: 30px;
    left: 480px;
    position: absolute;
    background: #4aaaa5;
    
  }
  .nav {
    position: relative;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    float: right;
    right: 24%;
  }

  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    border-top: 6px #4aaaa5 solid;
    left: 0;
    height: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
}

 
  .contentContainer {
        width: 920px;
        position: relative;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        overflow: hidden;
  }


  h1 {
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:20px;
    padding-right: 20px;
    font-size: 28px;
    color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h2 {
    color: #4aaaa5;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  

  .image {
    float: left;
    margin-right: 20px;
  }

  .portfolioImage {
    position: relative;
    float: left;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .topLeft {
    position: absolute;
    top: 215px;
    left: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 88px;
    padding-right:87px;
    font-size: 15px;
    text-align: center;
  }
  .topRight {
    position: absolute;
    top: 215px;
    left: 300px;
    background-color: #4aaaa5;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 82px;
    padding-right:81px;
    font-size: 15px;
    text-align: center;
  }

  .middleLeft {
    position: absolute;
    top: 400px;
    left: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right:79px;
    font-size: 15px;
    text-align: center;
  }
  .middleRight {
    position: absolute;
    top: 410px;
    left: 300px;
    background-color: #4aaaa5;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 54px;
    padding-right:54px;
    font-size: 15px;
    text-align: center;
  }

  .bottomLeft{
    position: absolute;
    top: 615px;
    left: 20px;
    background-color: #4aaaa5;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 51px;
    padding-right:50px;
    font-size: 15px;
    text-align: center;
  }
  p{
    line-height: 200%;
    margin-top: -10px;
  }

  .formP{
    margin-bottom: -5px;
    margin-top:10px;
  }

  a {
    color: #333;
  }

  .textBox{
    width:920px;
    height: 160px;
  }

  .textLine{
    width:920px;
  }

  .button {
    background: #4aaaa5;
    font-size: 15px;
    color: #eee;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
  }