body {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    
  }
  
  #header {
    background: #ffffff;
    border: #cccccc;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    
  }

  .myName {

    padding-right: 30px;
    padding-left: 30px;
    float: left;
    position: absolute;
    background: #4aaaa5;
    left: 24%;
    
  }
  .nav {
    position: relative;
    padding: 25px;
    float: right;
    right: 24%;
  }

  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    border-top: 6px #4aaaa5 solid;
    left: 0;
    height: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
}

 
  .contentContainer {
        width: 920px;
        position: relative;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        
  }

  .line {
      margin: auto;
      /* border: #333;
      
      height: 50px; */

  }

  
  h1 {
    padding: 20px;
    font-size: 28px;
    color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h2 {
    color: #4aaaa5;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h3 {
    margin: auto;
    position: fixed;
    background: #4aaaa5;

  }

  .image {
    float: left;
    margin-right: 20px;
  }

  .portfolioImage {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  p{
    line-height: 200%;
    margin-top: -10px;
  }

  .formP{
    margin-bottom: -5px;
    margin-top:10px;
  }

  a {
    color: #333;
  }

  .textBox{
    width:920px;
    height: 160px;
  }

  .textLine{
    width:920px;
  }

  .button {
    background: #4aaaa5;
    font-size: 15px;
    color: #eee;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
  }